.p1 {
    border: 8px solid;
    border-color: orange darkblue yellow brown
}

.p2 {
    border-left: 8px solid #007BA7;
    border-right: 8px solid #007BA7;
}

.p3 {
    border-top: 8px solid rgb(223, 43, 80);
    border-bottom: 8px dashed rgb(0, 255, 255);
    border-right: 8px dashed rgb(0, 255, 255);
    border-left: 8px dashed rgb(0, 255, 255);
}

.p4 {
    border: 1px dotted orange;
}

.p5 {
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    border-left: 2px dashed rgb(141, 34, 34);
    border-right: 2px dashed rgb(141, 34, 34);
}

.p6 {
    border: 4px double #B3446C;
}

.p7 {
    border-top: 1px dashed #808000;
    border-bottom: 3px solid #FF7518;
}

.p8 {
    border-left: 4px double #CC7722;
    border-bottom: 4px double #CC7722;
}

.p9 {
    border-top: 4px ridge #B5A642;
    border-right: 4px ridge #B5A642;
}

.p10 {
    border-left: 5px dotted rgb(0, 40, 0);
    border-right: 5px dotted rgb(0, 40, 0);
    border-bottom: 5px dotted rgb(0, 40, 0);
}